name: Publish and Release

on:
  push:
    branches:
      - main

env:
  NODE_VERSION: 20

permissions:
  contents: read
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    name: Publish and Release
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'
      - name: date script
        id: date-script
        uses: actions/github-script@v3
        with:
          script: |
          const dt = new Date()
          dt.setDate(dt.getDate() - 7)
          const beforeDate = new Date().toLocaleDateString("ja-JP", {year: "numeric", month: "2-digit", day: "2-digit"}).replaceAll('/', '-')
          console.log("***beforeDate:", beforeDate)
          return beforeDate
          result-encoding: string
      - name: Prepare
        run: |
          echo "${{ steps.date-script.outputs.result }}"
          npm ci ${{ steps.date-script.outputs.result }}
          npm test
          npm shrinkwrap
      # - name: Publish and Release
      #   uses: akashic-games/action-release@v2
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     npm_token: ${{ secrets.NPM_TOKEN }}
      # - name: Publish to npm
      #   run: npm publish --provenance --access public
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
