name: Publish and Release

on:
  push:
    branches:
      - main

env:
  NODE_VERSION: 24

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    name: Publish and Release
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'
      - name: Prepare
        run: |
          npm ci
          npm test
      # - name: Publish and Release
      #   uses: akashic-games/action-release@v2
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     npm_token: ${{ secrets.NPM_TOKEN }}
      # - name: Publish to npm
      #   run: npm publish --provenance --access public
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Create Release PullRequest or Publish
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          publish: npm run release-packages
          version: npm run version-packages
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Archive artifact
        # if: ${{ failure() }}
        if: ${{ always() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: shrinkwrap_log
          path: ./logs

