name: test

on: [pull_request]

env:
  NODE_VERSION: 20

jobs:
  release:
    runs-on: ubuntu-latest
    name: Test Publish and Release
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - name: date script
        id: date-script
        uses: actions/github-script@v7
        with:
          script: |
            const dt = new Date()
            dt.setDate(dt.getDate() - 7)
            const beforeDate = new Date().toLocaleDateString("ja-JP", {year: "numeric", month: "2-digit", day: "2-digit"}).replaceAll('/', '-')
            console.log("***beforeDate:", beforeDate)
            return beforeDate
          result-encoding: string
      - name: Prepare
        run: |
          echo "${{ steps.date-script.outputs.result }}"
          npm ci ${{ steps.date-script.outputs.result }}
          npm test
          npm shrinkwrap
